<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/BatmanTheEnemyWithin.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>

    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: white">Batman: The Enemy Within - The Telltale Series
</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4" style="color: white; font-weight: bold">Overview:</h2>
          <p>In this latest chapter from the award-winning studio behind Batman - The Telltale Series, both Bruce Wayne and Batman will be forced into precarious new roles. The Riddler has returned to terrorize Gotham City, but his gruesome puzzles merely foreshadow an even greater crisis.</p>
          <p>
            In this latest chapter from the award-winning studio behind Batman - The Telltale Series, both Bruce Wayne and Batman will be forced into precarious new roles. The Riddler has returned to terrorize Gotham City, but his gruesome puzzles merely foreshadow an even greater crisis. With the arrival of a ruthless federal agent and the return of a still nascent Joker, Batman must navigate uneasy alliances while Bruce Wayne undertakes a perilous series of deceptions. Which of Batman’s new allies will you choose to trust? And how deep into the darkness will you let Bruce descend?
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Telltale Games
            <br>
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>8 Aug, 2017
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 gameplay" style="color: white; font-weight: bold; padding: 10px; padding-left: 20px">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="http://www.impulsegamer.com/articles/wp-content/uploads/2017/08/Telltale-Batman-The-Enemy-Within-3.jpg" style="width:100%">
     <img class="mySlides" src="https://static.gamespot.com/uploads/original/43/434805/3319125-2017112311504936.jpg" style="width:100%">
     <img class="mySlides" src="https://gamingbolt.com/wp-content/uploads/2018/03/telltale-batman-the-enemy-within.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
   </div>

      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p>
        Batman: The Enemy Within is an episodic point-and-click graphic adventure video game developed and published by Telltale Games and distributed by Warner Bros. Interactive Entertainment under its DC Entertainment label. The game is a sequel to 2016's Batman: The Telltale Series, which was based on Bob Kane and Bill Finger's Batman character.
      </p>
      <p>
        Like most Telltale games, the game features a similar episodic format found in other titles (such as The Walking Dead, The Wolf Among Us and Tales from the Borderlands). The player controls Bruce Wayne and his alter-ego Batman, with the game evenly split for both characters. The game features a branching narrative, similar to past Telltale games, giving the player options in approaching a situation and having that choice affect later events in the game. If the player had played the previous game, choices made, such as saving certain characters or stopping a criminal, may also be imported, though the game can be played as a standalone title. The game includes action sequences that are resolved similar to Telltale's other games, using quick time events. The series also includes investigation sequences, allowing the player to use Batman's detective skills to investigate areas. Sections of the game also present situations to the player where they may choose to approach as Bruce Wayne or as Batman. Crowd Play, a feature implemented in the predecessor, also returns for The Enemy Within, allowing streamers to let their audience interact with their session with the game.
      </p>
    </div>
</div>

<h2 class="mt-4" style="color: white; font-weight: bold; padding: 10px; padding-left: 20px">Reviews:</h2>

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading" style="text-align: center; font-size: large; background-color: #e51b1b; color: white">IGN</div>
            <div class="panel-body" style="color: black">
                <p>
                  Batman is put to the test in the dark and consequential second season of Telltale's adventure series.
                </p>

                <a href="http://ie.ign.com/articles/2017/08/07/batman-the-telltale-series-season-2-review" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9734 &#9734;
                 </h3>
            </div>
    </div>
  </div>

    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a;color: white">Gamespot</div>
            <div class="panel-body" style="color: black">
                <p>
                  Introduce a little anarchy.
                </p>

                <a href="https://www.gamespot.com/reviews/batman-the-enemy-within-the-enigma-episode-1-revie/1900-6416722/" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9734 &#9734;
                 </h3>
            </div>
        </div>
    </div>
    <div id="reviewOne">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading">PC Gamer</div>
            <div class="panel-body" style="color: black">
                <p>
                  Realm of Shadows indicates that it might tell an interesting Batman story, but takes time to get there and suffers from Telltale’s design and engine limitations.
                </p>

                <a href="https://www.pcgamer.com/batman-the-telltale-series-ep-1-review/" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9734 &#9734;
                 </h3>
            </div>
        </div>
    </div>
  </div>
</div>
<br>
</div>

<div class="backgroundThree"></div>
<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="500"></textarea>
                        <label id="charRemaining" for="inputPost">500</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'K2_fGN7aEmQ',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/BatmanTheEnemyWithin.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
