<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/GTA5.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>

    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: white">Grand Theft Auto V
</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4" style="color: white; font-weight: bold">Overview:</h2>
          <p>GTA Online: The Doomsday Heist Now Available. The risks are colossal, the enemies all but unstoppable... but the rewards are mouth-watering and a massive adrenaline spike is absolutely guaranteed. Assemble your crew for the biggest Online adventure yet, across 3 sprawling acts.</p>
          <p>
            When a young street hustler, a retired bank robber and a terrifying psychopath find themselves entangled with some of the most frightening and deranged elements of the criminal underworld, the U.S. government and the entertainment industry, they must pull off a series of dangerous heists to survive in a ruthless city in which they can trust nobody, least of all each other.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Rockstar North
            <br>
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>14 Apr, 2015
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 gameplay" style="color: white; font-weight: bold; padding: 10px; padding-left: 20px">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://i.ytimg.com/vi/XS1xt1GguUQ/maxresdefault.jpg" style="width:100%">
     <img class="mySlides" src="https://i.ytimg.com/vi/EjFJHYU9gms/maxresdefault.jpg" style="width:100%">
     <img class="mySlides" src="http://gearnuke.com/wp-content/uploads/2014/11/gtav-comp-9-1.png" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
   </div>

      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p>
        Grand Theft Auto V is an action-adventure video game developed by Rockstar North and published by Rockstar Games. It was released in September 2013 for PlayStation 3 and Xbox 360, in November 2014 for PlayStation 4 and Xbox One, and in April 2015 for Microsoft Windows. It is the first main entry in the Grand Theft Auto series since 2008's Grand Theft Auto IV. Set within the fictional state of San Andreas, based on Southern California, the single-player story follows three criminals and their efforts to commit heists while under pressure from a government agency. The open world design lets players freely roam San Andreas' open countryside and the fictional city of Los Santos, based on Los Angeles.
      </p>
      <p>
        The game is played from either a third-person or first-person perspective and its world is navigated on foot or by vehicle. Players control the three lead protagonists throughout single-player and switch between them both during and outside missions. The story is centred on the heist sequences, and many missions involve shooting and driving gameplay. A "wanted" system governs the aggression of law enforcement response to players who commit crimes. Grand Theft Auto Online, the game's online multiplayer mode, lets up to 30 players engage in a variety of different cooperative and competitive game modes.
      </p>
    </div>
</div>

<h2 class="mt-4" style="color: white; font-weight: bold; padding: 10px; padding-left: 20px">Reviews:</h2>

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading" style="text-align: center; font-size: large; background-color: #e51b1b; color: white">IGN</div>
            <div class="panel-body" style="color: black">
                <p>
                  Saving The Best For Last
                </p>

                <a href="http://ie.ign.com/articles/2015/04/14/gta-5-pc-review" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9733 &#9733;
                 </h3>
            </div>
    </div>
  </div>

    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a;color: white">Gamespot</div>
            <div class="panel-body" style="color: black">
                <p>
                  City of Angels and Demons
                </p>

                <a href="https://www.gamespot.com/reviews/grand-theft-auto-v-review/1900-6414475/" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9733 &#9734;
                 </h3>
            </div>
        </div>
    </div>
    <div id="reviewOne">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading">PC Gamer</div>
            <div class="panel-body" style="color: black">
                <p>
                  A sandbox of extraordinary scope created with a masterful attention to detail. A patchy campaign doesn't spoil this wonderful, evocative city.
                </p>

                <a href="https://www.pcgamer.com/gta-5-review/" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9733 &#9733;
                 </h3>
            </div>
        </div>
    </div>
  </div>
</div>
<br>
</div>

<div class="backgroundThree"></div>
<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="500"></textarea>
                        <label id="charRemaining" for="inputPost">500</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'K89JWVEDmV0',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/GTA5.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
