<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/Left4Dead2.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>

    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: white">Left 4 Dead 2
</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4" style="color: white; font-weight: bold">Overview:</h2>
          <p>Set in the zombie apocalypse, Left 4 Dead 2 (L4D2) is the highly anticipated sequel to the award-winning Left 4 Dead, the #1 co-op game of 2008.
            This co-operative action horror FPS takes you and your friends through the cities, swamps and cemeteries of the Deep South, from Savannah to New Orleans across five expansive campaigns.
            You'll play as one of four new survivors armed with a wide and devastating array of classic and upgraded weapons. In addition to firearms, you'll also get a chance to take out some aggression on infected with a variety of carnage-creating melee weapons, from chainsaws to axes and even the deadly frying pan.</p>
          <p>
            You'll be putting these weapons to the test against (or playing as in Versus) three horrific and formidable new Special Infected. You'll also encounter five new uncommon common infected, including the terrifying Mudmen.
            Helping to take L4D's frantic, action-packed gameplay to the next level is AI Director 2.0. This improved Director has the ability to procedurally change the weather you'll fight through and the pathways you'll take, in addition to tailoring the enemy population, effects, and sounds to match your performance. L4D2 promises a satisfying and uniquely challenging experience every time the game is played, custom-fitted to your style of play.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Valve
            <br>
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>17 Nov, 2009
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 gameplay" style="color: white; font-weight: bold; padding: 10px; padding-left: 20px">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://d1vnh8mbrp67em.cloudfront.net/image/file/7/a4/90427/Left-4-Dead.jpg" style="width:100%">
     <img class="mySlides" src="https://i.ytimg.com/vi/aTQWVKV8Ulg/maxresdefault.jpg" style="width:100%">
     <img class="mySlides" src="http://images.bit-tech.net/content_images/2009/11/left-4-dead-2-review/L4D2_PC_02.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
   </div>

      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p>
        Like its predecessor, Left 4 Dead 2 is a first-person shooter with a heavy emphasis on cooperative gameplay. The game presents five new campaigns, each composed of three to five smaller levels. As in the first game, each campaign is presented in menus and loading screens as a film starring the four Survivors; and features, upon completing a campaign, a faux credits screen which acts as the final scoreboard for the players and recaps certain performance statistics for the group. In every campaign, most levels involve the Survivors attempting to reach a safe zone and close the door once they are all safely inside. However, the final level in each campaign requires the Survivors to call for rescue and either survive a prolonged onslaught until rescue arrives, pass through an especially challenging gauntlet of Infected to reach an escape vehicle, or (in Dead Center and The Passing) collect and utilize fuel cans to enable their escape.
      </p>
      <p>
        Each Survivor can carry one each of five categories of equipment: primary weapons, secondary weapons, throwable weapons, major medical supplies (which also includes ammunition upgrades) and minor medical supplies. Primary weapons are broken down into four tiers based on their availability and attributes.Tier one weapons (such as the SMG and Chrome Shotgun) deal damage relatively slowly and serve as basic offensive weapons. Tier two weapons (such as the Assault Rifle and Combat Shotgun) deal damage faster and often appear in later maps of each chapter. The two tier three weapons (Grenade Launcher and M60) differ from tier one and two weapons both because of their rarity and because players cannot refill their ammunition from ammunition dumps. They deal damage quickly at the cost of limited ammo. Tier four weapons are all mounted weapon systems and carry unlimited ammunition. The mounted weapons deal damage the fastest, but at the cost of overheating after a period of non-stop use. The mounted weapons are in set positions in maps and have a fixed arc of fire. They cannot be given ammunition upgrades like other weapons and players cannot utilize the laser sights attachment with them. There are three types of secondary weapons available: melee weapons, small caliber pistols (that can be dual wielded) and large caliber pistols. Although melee weapons cause extra damage to Infected when struck, the Survivors can use any other weapon or item for weaker melee attacks that can push the Infected back. Players also carry a flashlight with infinite battery life, the use of which enables players to see in the dark (with the downside of the player gaining the attention of the Infected much faster). They may also carry a single first aid kit, special ammo pack, or a defibrillator in their major medical supply slot; in addition to either pain pills or an adrenaline shot in their minor medical supply slot. They may also carry a single throwable weapon—Molotov cocktails to set an area on fire; pipe bombs to attract any nearby Infected to the flashing light and sound it makes until it explodes;and jars of Boomer bile, which attracts Common Infected to whatever it hits (e.g. fires, Special Infected, each other).
      </p>
    </div>
</div>

<h2 class="mt-4" style="color: white; font-weight: bold; padding: 10px; padding-left: 20px">Reviews:</h2>

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading" style="text-align: center; font-size: large; background-color: #e51b1b; color: white">IGN</div>
            <div class="panel-body" style="color: black">
                <p>
                  A bloodier, more entertaining, and more complete version of Valve's brutal co-operative shooter.
                </p>

                <a href="http://ie.ign.com/articles/2009/11/17/left-4-dead-2-review" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9733 &#9733;
                 </h3>
            </div>
    </div>
  </div>

    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a;color: white">Gamespot</div>
            <div class="panel-body" style="color: black">
                <p>
                  With exciting new content across the board and plenty of it, Left 4 Dead 2 outdoes its predecessor and makes the zombie apocalypse an absolute blast.
                </p>

                <a href="https://www.gamespot.com/reviews/left-4-dead-2-review/1900-6240611/" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9733 &#9733;
                 </h3>
            </div>
        </div>
    </div>
    <div id="reviewOne">
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-success" style="border-width: 0px">
            <div class="panel-heading">Metacritic</div>
            <div class="panel-body" style="color: black">
                <p>
                  Left 4 Dead 2 may have lost some of that new zombie smell, but its cooperative play is still among the best.
                </p>

                <a href="http://www.metacritic.com/game/pc/left-4-dead-2" target="_blank" style="color: blue">
                  Read More
                </a>
            </div>
            <div class="panel-footer" style="text-align: center">
                 <h3 style="color: gold">
                   &#9733 &#9733 &#9733 &#9733 &#9734;
                 </h3>
            </div>
        </div>
    </div>
  </div>
</div>
<br>
</div>

<div class="backgroundThree"></div>
<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="500"></textarea>
                        <label id="charRemaining" for="inputPost">500</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'OtnIy9-56PY',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/Left4Dead2.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
