<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/PC_Portal.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">A</div>
    </div><br>

    <div class="row">

        <div id="Abzu">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Abzû</div>
                <a href="/users/abzu">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://cdn4.dualshockers.com/wp-content/uploads/2016/08/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/abzu.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Anarcute">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Anarcute</div>
                <a href="/users/anarcute">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://i.ytimg.com/vi/yFcuIAQWi_0/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/anarcute.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
              </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Antihero">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Antihero</div>
                      <a href="/users/antihero">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://i.ytimg.com/vi/xGsuKW8F9bs/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/antihero.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div><br>

<div class="container">
    <div class="row">

        <div id="Aporia">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Aporia: Beyond The Valley</div>
                  <a href="/users/aporia">
                <div class="panel-body">
                    <div class="introImages">
                        <img src="https://www.dlh.net/public/data/cache/1000x405/49d03de8dbb48903361003398e412ee269f4f9a1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                        <img src="/images/game_pictures/pc_gif/aporia.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
              </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="AssassinsCreedOrigins">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">AC Origins</div>
                    <div class="panel-body">
                      <a href="/users/assasinsCreedOrigins">
                        <div class="introImages">
                            <img src="https://i.ytimg.com/vi/jY4lIYJef38/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/assasinsCreedOrigins.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="AshesOfTheSingularity">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Ashes of the Singularity</div>
                    <div class="panel-body">
                      <a href="/users/ashesOfTheSingularity">
                        <div class="introImages">
                            <img src="https://cdn.wccftech.com/wp-content/uploads/2015/08/ashes_of_singularity_featured.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/ashesOfTheSingularity.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!---------------------------------------------------------------------------------------------B------------------------------------------------------------------------------------------------------>
    <div class="container">
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">B</div>
    </div><br>

    <div class="row">

        <div id="BattlefieldOne">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Battlefield 1</div>
                    <a href="/users/BattlefieldOne">
                        <div class="panel-body">
                            <div class="introImages">
                                <img src="https://wallpapersite.com/images/pages/pic_w/227.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                <img src="/images/game_pictures/pc_gif/battlefieldOne.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                            </div>
                        </div>
                    </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="BatmanTheEnemyWithin">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Batman: The Enemy Within</div>
                    <a href="/users/BatmanTheEnemyWithin">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://source.superherostuff.com/wp-content/uploads/2017/09/maxresdefault-1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/batmanTheEnemyWithin.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="Battlerite">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Battlerite</div>
                    <a href="/users/Battlerite">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://steemitimages.com/DQmbZWCR4736b1u6BcP6EA1pyT7PacFXBNvequko5UNHjyc/obraz.png" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/battlerite.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div><br>

  <div class="container">
    <div class="row">

        <div id="BitBlasterXL">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Bit Blaster XL</div>
                    <a href="/users/BitBlasterXL">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://i.ytimg.com/vi/TTHeQ78djOw/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/bitBlasterXL.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="BlackDesertOnline">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Black Desert Online</div>
                    <a href="/users/BlackDesertOnline">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://static.gamespot.com/uploads/screen_kubrick/536/5360430/3016274-trailer_blackdesertonline_launch_20160302.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/blackDesertOnline.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="BulletStorm">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Bulletstorm</div>
                    <a href="/users/BulletStorm">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://i0.wp.com/realgamemedia.com/wp-content/uploads/2017/04/Bulletstorm-Full-Clip-Edition.jpg?fit=1280%2C720" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/bulletstorm.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                      </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!---------------------------------------------------------------------------------------------C------------------------------------------------------------------------------------------------------>

          <div class="container">
          <div class="row">
              <div class="alphabeticalOrder" style="text-align: center; font-size: large">C</div>
          </div><br>

          <div class="row">

        <div id="CallOfDutyADVWAR">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Call of Duty®: Advanced Warfare</div>
                <a href="/users/CallOfDutyADVWAR">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="http://www.gamersbook.com/Portals/0/images/2014/c-o-d-adwanced-warfare.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/CodModern.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="CallOfDutyBlack3">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Call of Duty®: Black Ops III</div>
                <a href="/users/CallOfDutyBlack3">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="http://www.top4themes.com/data/out/24/5505827-call-of-duty-black-ops-3-wallpapers.png" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/CodBlackOps.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="CallOfDutyGhost">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Call of Duty®: Ghosts</div>
                <a href="/users/CallOfDutyGhost">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://i.ytimg.com/vi/N545xsMr998/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/CodGhost.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
      </div>

      </div>
      </div><br>

  <!---------------------------------------------------------------------------------------------D------------------------------------------------------------------------------------------------------>

      <div class="container">
      <div class="row">
          <div class="alphabeticalOrder" style="text-align: center; font-size: large">D</div>
      </div><br>

      <div class="row">

        <div id="Divinity2">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Divinity: Original Sin 2</div>
                <a href="/users/Divinity2">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="http://gameranx.com/wp-content/uploads/2016/03/Divinity-Original-Sin-2-720-Wallpaper.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/Divinity2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Doom">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Doom</div>
                <a href="/users/Doom">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://3.bp.blogspot.com/-LzzN_6F_te4/WNawYc87TGI/AAAAAAABJKg/1I8HgKSvBYQwjcLM589Sq9qwN-J_9O_MgCLcB/s1600/Doom_%2528PC%2529_01.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/doom.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Divinity">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Divinity: Divinity: Original Sin</div>
                <a href="/users/Divinity">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://i.ytimg.com/vi/UHBEr7SFD7k/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/divinity.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>
      </div>
        </div><br>
            <div class="container">
            <div class="row">

              <div id="DragonsDogma">
              <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="panel panel-primary">
                      <div class="panel-heading">Dragon's Dogma: Dark Arisen</div>
                      <a href="/users/DragonsDogma">
                      <div class="panel-body">
                          <div class="introImages">
                             <img src="http://gameranx.com/wp-content/uploads/2016/03/Dragons-Dogma-Dark-Arisen-720-Wallpaper.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                             <img src="/images/game_pictures/pc_gif/dragon.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                          </div>
                      </div>
                  </a>
                      <div class="panel-footer">
                          <h5>GDB rating:</h5>
                          <h5>User rating:</h5>
                      </div>
                  </div>
              </div>
              </div>

              <div id="Dishonoured2">
              <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="panel panel-primary">
                      <div class="panel-heading">Dishonored 2</div>
                      <a href="/users/Dishonoured2">
                      <div class="panel-body">
                          <div class="introImages">
                             <img src="http://www.savegameworld.com/wp-content/uploads/2017/07/PC-Dishonored-2-SaveGame.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                             <img src="/images/game_pictures/pc_gif/dishonoured2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                          </div>
                      </div>
                  </a>
                      <div class="panel-footer">
                          <h5>GDB rating:</h5>
                          <h5>User rating:</h5>
                      </div>
                  </div>
              </div>
              </div>

              <div id="DeusEx">
              <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="panel panel-primary">
                      <div class="panel-heading">Deus Ex: Mankind Divided</div>
                      <a href="/users/DeusEx">
                      <div class="panel-body">
                          <div class="introImages">
                            <img src="https://geekireland.com/wp-content/uploads/2016/08/Deus-Ex-Mankind-Divided-Universe-Expansion.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/deus.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                          </div>
                      </div>
                  </a>
                      <div class="panel-footer">
                          <h5>GDB rating:</h5>
                          <h5>User rating:</h5>
                      </div>
                  </div>
              </div>
              </div>

            </div>

<!---------------------------------------------------------------------------------------------E------------------------------------------------------------------------------------------------------>

    <div class="container">
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">E</div>
    </div><br>

    <div class="row">

        <div id="EvilWithin">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">The Evil Within</div>
                <a href="/users/EvilWithin">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="http://cdn.cheatcc.com/Screenshots/guide/the_evil_within_title_screen.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/EvilWithin.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="EvilWithin2">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">The Evil Within 2</div>
                <a href="/users/EvilWithin2">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://i.ytimg.com/vi/EXk-OE55pgw/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/EvilWithin2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Evolve">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Evolve Stage 2</div>
                <a href="/users/Evolve">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://bytextest.com/wp-content/uploads/sites/2/2016/10/Bytextest-Evolve-stage-2.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/Evolve.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
      </div>

      </div>
      </div><br>

      <!---------------------------------------------------------------------------------------------F------------------------------------------------------------------------------------------------------>

          <div class="container">
          <div class="row">
              <div class="alphabeticalOrder" style="text-align: center; font-size: large">F</div>
          </div><br>

          <div class="row">

            <div id="FF15">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">FINAL FANTASY XV</div>
                    <a href="/users/FF15">
                    <div class="panel-body">
                        <div class="introImages">
                           <img src="https://samurai-gamers.com/wp-content/uploads/2016/11/Final-Fantasy-XV.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                           <img src="/images/game_pictures/pc_gif/FF15.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
            </div>

            <div id="Fallout4">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Fallout 4</div>
                    <a href="/users/Fallout4">
                    <div class="panel-body">
                        <div class="introImages">
                           <img src="http://www.thumbnailtemplates.com/images/thumbs/thumb-073-fallout-4-1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                           <img src="/images/game_pictures/pc_gif/Fallout4.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
            </div>

            <div id="FF7">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">FINAL FANTASY VII</div>
                    <a href="/users/FF7">
                    <div class="panel-body">
                        <div class="introImages">
                           <img src="https://i.ytimg.com/vi/dgPKfbKIR7A/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                           <img src="/images/game_pictures/pc_gif/FF7.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
          </div>

          </div>
          </div><br>

        <!---------------------------------------------------------------------------------------------G------------------------------------------------------------------------------------------------------>

          <div class="container">
          <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">G</div>
        </div><br>

      <div class="row">

      <div id="GTA5">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Grand Theft Auto V</div>
                        <a href="/users/GTA5">
                        <div class="panel-body">
                            <div class="introImages">
                               <img src="http://3.bp.blogspot.com/-4KKYtDAvLS4/UcPg0LW13BI/AAAAAAAAAas/tG2NLD46-UI/s1600/GTA+5+01+%255BWalls720%255D.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                               <img src="/images/game_pictures/pc_gif/GTA5.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                            </div>
                        </div>
                    </a>
                    <div class="panel-footer">
                            <h5>GDB rating:</h5>
                            <h5>User rating:</h5>
                        </div>
                    </div>
                </div>
                </div>

                <div id="GTA4">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Grand Theft Auto IV</div>
                        <a href="/users/GTA4">
                        <div class="panel-body">
                            <div class="introImages">
                               <img src="https://i.ytimg.com/vi/E8bNXxGye-8/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                               <img src="/images/game_pictures/pc_gif/GTA4.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                            </div>
                        </div>
                    </a>
                        <div class="panel-footer">
                            <h5>GDB rating:</h5>
                            <h5>User rating:</h5>
                        </div>
                    </div>
                </div>
                </div>

                <div id="GhostReconWild">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Tom Clancy's Ghost Recon® Wildlands</div>
                        <a href="/users/GhostReconWild">
                        <div class="panel-body">
                            <div class="introImages">
                               <img src="http://www.nerdyaf.com/wp-content/uploads/2017/03/ghost-recon-walkthrough_feature.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                               <img src="/images/game_pictures/pc_gif/GhostReconWild.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                            </div>
                        </div>
                    </a>
                        <div class="panel-footer">
                            <h5>GDB rating:</h5>
                            <h5>User rating:</h5>
                        </div>
                    </div>
                </div>
              </div>

              </div>
              </div><br>

              <!---------------------------------------------------------------------------------------------H------------------------------------------------------------------------------------------------------>

                  <div class="container">
                  <div class="row">
                      <div class="alphabeticalOrder" style="text-align: center; font-size: large">H</div>
                  </div><br>

                  <div class="row">

                    <div id="HalfLife2">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Half-Life 2</div>
                            <a href="/users/HalfLife2">
                            <div class="panel-body">
                                <div class="introImages">
                                   <img src="https://i.ytimg.com/vi/m6Tqf1kKstg/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                   <img src="/images/game_pictures/pc_gif/HalfLife2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                </div>
                            </div>
                        </a>
                            <div class="panel-footer">
                                <h5>GDB rating:</h5>
                                <h5>User rating:</h5>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div id="Hitman">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Hitman: Absolution™</div>
                            <a href="/users/Hitman">
                            <div class="panel-body">
                                <div class="introImages">
                                   <img src="https://i.ytimg.com/vi/Lp9cO0rlh0c/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                   <img src="/images/game_pictures/pc_gif/Hitman.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                </div>
                            </div>
                        </a>
                            <div class="panel-footer">
                                <h5>GDB rating:</h5>
                                <h5>User rating:</h5>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div id="Hunt">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Hunt Showdown</div>
                            <a href="/users/Hunt">
                            <div class="panel-body">
                                <div class="introImages">
                                   <img src="https://i.ytimg.com/vi/N4BSWi_hLKw/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                   <img src="/images/game_pictures/pc_gif/Hunt.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                </div>
                            </div>
                        </a>
                            <div class="panel-footer">
                                <h5>GDB rating:</h5>
                                <h5>User rating:</h5>
                            </div>
                        </div>
                    </div>
                  </div>

                  </div>
                  </div><br>

                  <!---------------------------------------------------------------------------------------------I------------------------------------------------------------------------------------------------------>

                      <div class="container">
                      <div class="row">
                          <div class="alphabeticalOrder" style="text-align: center; font-size: large">I</div>
                      </div><br>

                      <div class="row">

                        <div id="Injustice">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Injustice: Gods Among Us</div>
                                <a href="/users/Injustice">
                                <div class="panel-body">
                                    <div class="introImages">
                                       <img src="http://montromo.com/wp-content/uploads/2015/08/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                       <img src="/images/game_pictures/pc_gif/Injustice.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                    </div>
                                </div>
                            </a>
                                <div class="panel-footer">
                                    <h5>GDB rating:</h5>
                                    <h5>User rating:</h5>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div id="Injustice2">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Injustice™ 2</div>
                                <a href="/users/Injustice2">
                                <div class="panel-body">
                                    <div class="introImages">
                                       <img src="https://www.hdwallpapers.in/walls/wonder_woman_injustice_2-HD.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                       <img src="/images/game_pictures/pc_gif/Injustice2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                    </div>
                                </div>
                            </a>
                                <div class="panel-footer">
                                    <h5>GDB rating:</h5>
                                    <h5>User rating:</h5>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div id="IcewindDale">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Icewind Dale: Enhanced Edition</div>
                                <a href="/users/IcewindDale">
                                <div class="panel-body">
                                    <div class="introImages">
                                       <img src="https://i.ytimg.com/vi/VdFxB-DfDNQ/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                       <img src="/images/game_pictures/pc_gif/IcewindDale.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                    </div>
                                </div>
                            </a>
                                <div class="panel-footer">
                                    <h5>GDB rating:</h5>
                                    <h5>User rating:</h5>
                                </div>
                            </div>
                        </div>
                      </div>

                      </div>
                      </div><br>

                      <!---------------------------------------------------------------------------------------------J------------------------------------------------------------------------------------------------------>

                        <div class="container">
                          <div class="row">
                              <div class="alphabeticalOrder" style="text-align: center; font-size: large">J</div>
                          </div><br>

                          <div class="row">

                            <div id="JadeEmpire">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Jade Empire™: Special Edition</div>
                                    <a href="/users/JadeEmpire">
                                    <div class="panel-body">
                                        <div class="introImages">
                                           <img src="https://i.ytimg.com/vi/iHlZBqFWioc/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                           <img src="/images/game_pictures/pc_gif/JadeEmpire.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                </a>
                                    <div class="panel-footer">
                                        <h5>GDB rating:</h5>
                                        <h5>User rating:</h5>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div id="JustCause2">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Just Cause 2</div>
                                    <a href="/users/JustCause2">
                                    <div class="panel-body">
                                        <div class="introImages">
                                           <img src="https://i.ytimg.com/vi/LrGLlTIdgMw/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                           <img src="/images/game_pictures/pc_gif/JustCause2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                </a>
                                    <div class="panel-footer">
                                        <h5>GDB rating:</h5>
                                        <h5>User rating:</h5>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div id="JustCause3">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Just Cause™ 3</div>
                                    <a href="/users/JustCause3">
                                    <div class="panel-body">
                                        <div class="introImages">
                                           <img src="https://i.ytimg.com/vi/Mk_6npJX8Ys/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                           <img src="/images/game_pictures/pc_gif/JustCause3.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                        </div>
                                    </div>
                                </a>
                                    <div class="panel-footer">
                                        <h5>GDB rating:</h5>
                                        <h5>User rating:</h5>
                                    </div>
                                </div>
                            </div>
                          </div>

                          </div>
                          </div><br>


                          <!---------------------------------------------------------------------------------------------K------------------------------------------------------------------------------------------------------>

                              <div class="container">
                              <div class="row">
                                  <div class="alphabeticalOrder" style="text-align: center; font-size: large">K</div>
                              </div><br>

                              <div class="row">

                                <div id="KillerInstinct">
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Killer Instinct</div>
                                        <a href="/users/KillerInstinct">
                                        <div class="panel-body">
                                            <div class="introImages">
                                               <img src="https://i.ytimg.com/vi/vGvswaKqeQQ/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                               <img src="/images/game_pictures/pc_gif/KillerInstinct.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                            </div>
                                        </div>
                                    </a>
                                        <div class="panel-footer">
                                            <h5>GDB rating:</h5>
                                            <h5>User rating:</h5>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div id="KillingFloor">
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Killing Floor</div>
                                        <a href="/users/KillingFloor">
                                        <div class="panel-body">
                                            <div class="introImages">
                                               <img src="https://i.ytimg.com/vi/6QSBWToNwGU/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                               <img src="/images/game_pictures/pc_gif/KillingFloor.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                            </div>
                                        </div>
                                    </a>
                                        <div class="panel-footer">
                                            <h5>GDB rating:</h5>
                                            <h5>User rating:</h5>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div id="KillingFloor2">
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Killing Floor 2</div>
                                        <a href="/users/KillingFloor2">
                                        <div class="panel-body">
                                            <div class="introImages">
                                               <img src="https://i.ytimg.com/vi/WmiwJ2WIQGg/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                               <img src="/images/game_pictures/pc_gif/KillingFloor2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                            </div>
                                        </div>
                                    </a>
                                        <div class="panel-footer">
                                            <h5>GDB rating:</h5>
                                            <h5>User rating:</h5>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              </div>
                              </div><br>

                              <!---------------------------------------------------------------------------------------------L------------------------------------------------------------------------------------------------------>

                              <div class="container">
                              <div class="row">
                                  <div class="alphabeticalOrder" style="text-align: center; font-size: large">L</div>
                              </div><br>

                              <div class="row">

                                    <div id="LifeIsStrange">
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Life is Strange - Episode 1</div>
                                            <a href="/users/LifeIsStrange">
                                            <div class="panel-body">
                                                <div class="introImages">
                                                   <img src="https://geekireland.com/wp-content/uploads/2016/07/Life-is-Strange-free-download-for-episode-1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                                   <img src="/images/game_pictures/pc_gif/LifeIsStrange.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                                </div>
                                            </div>
                                        </a>
                                            <div class="panel-footer">
                                                <h5>GDB rating:</h5>
                                                <h5>User rating:</h5>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div id="Left4Dead">
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Left 4 Dead</div>
                                            <a href="/users/Left4Dead">
                                            <div class="panel-body">
                                                <div class="introImages">
                                                   <img src="http://www.gamesmelter.com/wp-content/uploads/Left4Dead.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                                   <img src="/images/game_pictures/pc_gif/Left4Dead.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                                </div>
                                            </div>
                                        </a>
                                            <div class="panel-footer">
                                                <h5>GDB rating:</h5>
                                                <h5>User rating:</h5>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div id="Left4Dead2">
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Left 4 Dead 2</div>
                                            <a href="/users/Left4Dead2">
                                            <div class="panel-body">
                                                <div class="introImages">
                                                   <img src="https://steerexpert.com/wp-content/uploads/2017/10/Left-4-Dead-2-pc-game.png" class="img-responsive topImage" style="width:100%" alt="Image">
                                                   <img src="/images/game_pictures/pc_gif/Left4Dead2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                                </div>
                                            </div>
                                        </a>
                                            <div class="panel-footer">
                                                <h5>GDB rating:</h5>
                                                <h5>User rating:</h5>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                  </div>
                                  </div><br>

                                  <!---------------------------------------------------------------------------------------------M------------------------------------------------------------------------------------------------------>

                                      <div class="container">
                                      <div class="row">
                                          <div class="alphabeticalOrder" style="text-align: center; font-size: large">M</div>
                                      </div><br>

                                      <div class="row">

                                          <div id="Mafia2">
                                          <div class="col-lg-4 col-sm-6 col-xs-12">
                                              <div class="panel panel-primary">
                                                  <div class="panel-heading">Mafia II</div>
                                                  <a href="/users/Mafia2">
                                                  <div class="panel-body">
                                                      <div class="introImages">
                                                         <img src="https://wallpaperscraft.com/image/mafia_2_pistol_suit_look_22005_1280x720.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                                         <img src="/images/game_pictures/pc_gif/Mafia2.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                                      </div>
                                                  </div>
                                              </a>
                                                  <div class="panel-footer">
                                                      <h5>GDB rating:</h5>
                                                      <h5>User rating:</h5>
                                                  </div>
                                              </div>
                                          </div>
                                          </div>

                                          <div id="MetalGear5">
                                          <div class="col-lg-4 col-sm-6 col-xs-12">
                                              <div class="panel panel-primary">
                                                  <div class="panel-heading">METAL GEAR SOLID V</div>
                                                  <a href="/users/MetalGear5">
                                                  <div class="panel-body">
                                                      <div class="introImages">
                                                         <img src="https://i.ytimg.com/vi/-fo5KmreiiE/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                                         <img src="/images/game_pictures/pc_gif/MetalGear5.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                                      </div>
                                                  </div>
                                              </a>
                                                  <div class="panel-footer">
                                                      <h5>GDB rating:</h5>
                                                      <h5>User rating:</h5>
                                                  </div>
                                              </div>
                                          </div>
                                          </div>

                                          <div id="Metro">
                                          <div class="col-lg-4 col-sm-6 col-xs-12">
                                              <div class="panel panel-primary">
                                                  <div class="panel-heading">Metro 2033 Redux</div>
                                                  <a href="/users/Metro">
                                                  <div class="panel-body">
                                                      <div class="introImages">
                                                         <img src="https://i.ytimg.com/vi/f5DNXr6Om9k/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                                         <img src="/images/game_pictures/pc_gif/Metro.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                                                      </div>
                                                  </div>
                                              </a>
                                                  <div class="panel-footer">
                                                      <h5>GDB rating:</h5>
                                                      <h5>User rating:</h5>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>

                                        </div>

</div<br><br>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
